.navbar {
  padding: 0 2rem;
  height: 6rem;
  background-color: $midnightblue;
  .nav-link {
    color: $white !important;
    letter-spacing: 1.1px;
    text-decoration: none;
    padding-left: 1.5rem;
    text-transform: uppercase;
    &:active,
    &--active {
      background-color: $hotpink;
      border-radius: 15px;
      color: $midnightblue !important;
    }
  }
  .navbar-toggler {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar-collapse-open {
    position: absolute;
    padding: 2rem;
    width: 80%;
    top: 104px;
    right: 44px;
    background-color: $midnightblue;
    border: $grayBorder;
    border-radius: 8px;
    z-index: 100;
    box-shadow: $softShadow;
  }
  @media screen and (min-width: 992px) {
    //do Smth
    .navbar-toggler {
      display: none;
    }
    .nav-link {
      margin-left: 2rem;
      padding-left: 0;
    }
  }
}
